*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    border: 1px outset rgb(223, 222, 222);
    padding: 20px;
    line-height: 30px;
    box-shadow: -1px 1px 5px black;
    background-color: rgb(245, 244, 244);
    margin-top: 50px;
    margin-left: 25px;
    width: 600px;
    height: 400px;
}

.header{
    text-align: left;
    color: rgb(58, 58, 58);
    overflow: hidden;
    height: 45px;
}

.markerBtn{
    background: none;
    border: none;
    cursor: pointer;
}

.markerBtn img{
    width: 20px;
    height: 20px;
}